{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITIan System</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="/course/">Courses List</a> | 
        <a href="/course/add/">Add Course</a> |
        <a href="/trainee/list/">Trainees List</a> |  <a href="/trainee/add/modelform/">Add Trainee</a> | 

        {% if user.is_authenticated %}
            <span>Welcome, <strong>{{ user.username }}</strong>!</span>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline; padding: 0;">Logout</button>
            </form>
        {% else %}
            <a href="/accounts/login/">Login</a> |
            <a href="/trainee/register/">Register</a>
        {% endif %}
    </nav>
    <hr>
    
    {% block content %}
    {% endblock %}

</body>
</html>