
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITIan System</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="/course/">Courses List</a> | 
        <a href="/course/add/">Add Course</a> |
        <a href="/trainee/">Trainees List</a> |
        <a href="/trainee/add/">Add Trainee</a>

        {% if user.is_authenticated %}
        <span>Welcome, {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    </nav>
    <hr>
    
    {% block content %}
    {% endblock %}

</body>
</html>