{% extends 'base.html' %}
{% block content %}
    <h2>Trainee List</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Image</th> <th>Name</th>
            <th>Email</th>
            <th>Course</th> 
            <th>Actions</th>
        </tr>
        {% for trainee in trainees %}
        <tr>
            <td>
                {% if trainee.image %}
                    <img src="{{ trainee.image.url }}" width="50" height="50" style="object-fit: cover;">
                {% else %}
                    <span>No Image</span>
                {% endif %}
            </td>
            <td>{{ trainee.first_name }} {{ trainee.last_name }}</td>
            <td>{{ trainee.email }}</td>
            <td>{{ trainee.course.name }}</td> <td>
                <a href="{% url 'trainee_details' trainee.id %}">View</a> | 
                <a href="{% url 'update_trainee' trainee.id %}">Update</a> |
                <a href="{% url 'soft_delete_trainee' trainee.id %}" style="color: orange;">Soft Delete</a> |
                <a href="{% url 'delete_trainee' trainee.id %}" 
                   style="color: red;"
                   onclick="return confirm('Delete permanently?')">
                   Hard Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'add_trainee_modelform' %}">Add New Trainee (ModelForm)</a>
{% endblock %}